*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

body{
    font-family: var(--general-font);
    font-size: 16px;
    color: #333333;
}
img{
    height: 100%;
    width: 100%;
}

.container{
    max-width: 1320px;
    margin-inline: auto;
}
.margin-top{
    margin-top: 60px;
}

.section-title{
    font-size: 28px;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
/* css variable  */
:root{
    --heading-font: "Saira Semi Condensed", serif;
    --general-font: "Inter", serif;
    --primary-color: #FA057B;
}



/* -------------------header css -------------------- */

header .top-header{
    background-color: black;
    color: white;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
}

header .top-header nav{
    display: flex;
    gap: 20px;
    font-size: 14px;
}

header .top-header .social-media{
    display: flex;
    gap: 20px;
}

header .navigattion-bar{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    gap: 100px;
}

header .navigattion-bar ul{
    display: flex;
    gap: 50px;
}
header .navigattion-bar ul li{
    text-transform: uppercase;
    font-family: var(--heading-font);
    font-weight: 600;
}
header .navigattion-bar nav{
    flex-grow: 1;
}

header .navigattion-bar .buttons{
    display: flex;
    gap: 20px;
}
header .navigattion-bar .buttons button{
    background-color: transparent;
    border: none;
    font-size: 20px;
}


.banner-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px 2px;
}

.banner-news{
    position: relative;
}
.banner-news .news-details{
position: absolute;
bottom: 50px;
left: 40px;
color: white;
}

.banner-news .news-details .category{
    background-color: var(--primary-color);
    padding: 5px 10px;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 1px;
}

.banner-news .news-details h2{
    font-family: var(--heading-font);
    font-size: 33px;
    margin: 10px 0px;
    line-height: 43px;
}
.banner-news .news-details .news-auther{
    font-size: 12px;
    color: rgb(221, 221, 221);
}

.banner-news .news-details .news-auther .auther{
    font-weight: 600;
}

.banner-section .banner-news:first-child{
    grid-row: span 2;
}

.news-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.news-card img{
    height: 250px;
}

.news-card .news-title{
font-family: var(--heading-font);
font-size: 22px;
margin-block: 10px;
line-height: 32px;
}

.news-card .news-title:hover{
    color: var(--primary-color);
}

.news-card time{
    font-size: 12px;
    color: #383838;
}

.editors-peack{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
}

.horizontal-news-card{
    display: grid;
    grid-template-columns: 200px auto;
    gap: 20px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.horizontal-news-card .category{
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.horizontal-news-card .title{
    font-family: var(--heading-font);
    font-size: 22px;
}

.horizontal-news-card:last-child{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}